 .container{  
    border-style: solid;
    border-color:rgb(225, 237, 237);
    border-width:1px;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
 }
 body{
    background-color: black;
    font-family:"poppins";
 }
 nav{
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    margin-left: 50px;
    font-size: 23px;
 }
 nav li a:hover{
   color: brown;
 }
 ul{
    display: flex;
 }
 ul li{
    list-style: none;
    margin-inline: 30px;
 }
 .btn button{
   width: 100px;
   height: 36px;
   border: 3px solid rgba(250,10,10, 0.801);
   background-color: black;
   color:#ffff;
   font-size: 18px;
   border-radius: 20px ;
   margin-top: 20px;
   margin-right: 10px;
 }
 
 .main-div{
   display: flex;
   justify-content: space-between;
   color:#ffff;
   margin-top: 20px;
 }
 nav h1{
   font-family:"sofia";
   font-size: 40px;
   color: rgba(250,10,10, 0.801);;
   border-bottom: 5px solid rgba(250,10,10, 0.801);
   border-radius: 40px;
   margin-top: 1px;
 }
 .main-div .head{
   font-size: 50px;
   margin-left: 40px;
   margin-right: 20px;
 }
 .head button{
   width: 170px;
   height: 45px;
   background-color: rgba(250,10,10, 0.801) ;
   color: #ffff;
   font-size: 25px;
   border-radius: 6px;
   margin-bottom: 9px;
 }
 .head button:hover{
   background-color: black;
   border: 3px solid rgba(250,10,10, 0.801) ;
   cursor: pointer;
 }
 
 .img img{
   margin-right: 30px;
   width: 550px;
 }
 